*.pyc
*.idea
*.spec
*.sh
.cache
.idea
.vs
.DS_Store
venv*
.vscode
.pytest_cache
__pycache__
.python-version
.venv/
_version.py
/main.py
.buildozer
*.apk
.gradle
gradle*
.pypirc
.env
setup.cfg
.notepad
ipywebview.egg-info
bin
node_modules
pywebview.egg-info
build
dist
runtime
